@page
@model MegaDesk_Mine.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.deskWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.deskWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.deskDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.deskDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.numDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.numDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.surfaceMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.surfaceMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.rushOption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.rushOption)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderDetails.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
