@page
@model MegaDesk_Mine.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderQuotes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuotes.clientFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderQuotes.clientFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuotes.clientLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderQuotes.clientLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuotes.submitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderQuotes.submitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuotes.quoteTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderQuotes.quoteTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderQuotes.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
